
/*--------------------Default page setup-------------------------*/

:root {
    --ryu-bg: #2d2d2d;
    --ryu-dark: #202020;
    --ryu-blue: #02C5E5FF;
    --ryu-red: #FF5F55FF;
    --ryu-purple: #88418b;
    --ryu-green: #01df4f;
    --bright-grey: #6f6f6f;
}

* {
    box-sizing:border-box
}
body {
    background-color: var(--ryu-bg);
    cursor:default;
    color:whitesmoke;
    width:100%;
    height:100%;
    display:table
}
.page_wrap {
    width:100%;
    display:table-cell;
    position:relative;
    height:100vh
}
body,
.page_wrap {
    margin:0;
    padding:0
}
main {
    padding: 5rem 0 6rem 0; /*Space for header & footer, top - bottom - */
    font-size: 1.1rem;

    font-family: sans-serif;
}

/*--------------------Header-------------------------*/

header {
    width:-webkit-fill-available;
    width:-moz-available;
    height: 5rem;
    display:flex;
    position:fixed;
    justify-content:space-between;
    padding: 1rem 2rem 1rem 2rem;
    z-index: 99999;
    background-color: var(--ryu-dark);
}

.logo-header {
    height: 3rem;
    align-self: center;
    order: 1;
    cursor: pointer;
}

.logo-header > a {
    display: inline-block;
    width: fit-content;
    height: 100%;
}

.logo {
    height: 100%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.4s;
}

.logo-header > a:hover > .logo,
.logo-header > a:focus-within > .logo {
    transform: scale(1.2);
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border-radius: 10rem;
    width: max-content;
    align-self: center;
    order: 2;
}
.navbar a {
    color: whitesmoke;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.02em;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.2s;
}
.navbar a:hover {
    color: var(--ryu-red);
    text-shadow: var(--ryu-red) 0 0 1px;
    transition: 0.2s;
}
.navbar a.active {
    background: var(--ryu-blue);
    color: var(--ryu-dark);
    /* text-shadow: 0 0 2px;*/
    background-size: 150% 150%;
    animation: gradient 15s ease infinite;
    border-radius: 2rem;
}

.navbar a.active:hover {
    color: var(--ryu-dark);
    text-shadow: none;
    transition: 0.2s;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar a:not(.active) {
        display: none;
    }
}

/*--------------------Footer-------------------------*/

footer {
    height: 6rem;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: var(--ryu-dark);
}

.nav-bottom a {
    font-weight: normal;
    font-size: 1rem;
    transition: 0.2s;
}

.nav-bottom a:hover {
    color: var(--ryu-purple);
    text-shadow: var(--ryu-purple) 0 0 1px;
    transition: 0.2s;
}


/*--------------------Start page-------------------------*/

.db-status {
    position: absolute;
    top: 6rem;
    right: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--ryu-dark);
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 1rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.status-symbol {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.status-text {
    margin: 0;
}

.start-container {
    color: whitesmoke;
    line-height: .85;
    margin: 0;
    display: flex;
    width: 100%;
    height: 93vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    z-index: 1;
    padding: 0;
}

.title-container {
    width: max-content;
    transition: opacity .4s;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.title {
    font-family: sans-serif;
    color: whitesmoke;
    font-size: calc(1rem + 3vw);
    margin: 1rem .8rem;
}

.title-container > div { /* apply these to all divs containing the h1*/
    transition: opacity .6s, transform .4s;
    width: 100%;
}

.title-container:hover > div { /* when hovering over container of title -> make all title parts transparent */
    opacity: 20%;
    transition: opacity .6s, transform .4s;
}

.title-container:hover > div:hover { /* when hovering over div containing title -> make this title part opaque */
    opacity: 100%;
    transform: scale(1.05);
    transition: opacity .4s, transform .4s;
}

.menu-btn {
    background-color: var(--ryu-purple);
    border-color: transparent;
    border-width: 3px;
    padding: 1rem 2rem;
    color: var(--ryu-dark);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 1.5rem 2rem;
    transition: 0.2s;
}

.menu-btn:hover {
    background-color: transparent;
    color: var(--ryu-red);
    border-color: var(--ryu-red);
    transition: 0.2s;
}

/*-------------------------------Manage Game Page-------------------------------------------*/

.add_game_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit_button {
    background-color: transparent;
    border: var(--ryu-green) solid 3px;
    border-radius: .6rem;
    color: var(--ryu-green);
    padding: .5rem 2rem;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 2rem 0;
    transition: .2s;
}

.submit_button:hover {
    background-color: var(--ryu-green);
    color: var(--ryu-dark);
    transition: .2s;
}

.manage_game_container {
    color: whitesmoke;
    font-family: sans-serif;

    > form > fieldset {
        border: none;
        padding: 2rem 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    legend {
        float: left;
        width: 100%;
        font-weight: bold;
    }

    > form > fieldset > legend {
        font-size: 1.5rem;
        padding: .3rem 1rem;
        color: whitesmoke;
        background-color: var(--ryu-dark);
        border-bottom: var(--ryu-purple) .3rem solid;
        margin: .7rem 0 1.2rem 0;
        border-radius: 2rem;
    }
}

.win_dark_input {
    font-family: sans-serif;
    color: whitesmoke;
    background-color: #393939;
    border: none;
    border-radius: .3rem;
    padding: .3rem;
    border-bottom: #5e5e5e 2px solid;
    transition: .2s;
}

.win_dark_input:focus-visible {
    background-color: #2d2d2d;
    border-bottom: var(--ryu-blue) 2px solid;
    outline: none;
    transition: .2s;
}

/*--------------------Game Info Container------------------------*/

.game_info_cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    height: fit-content;
}

.game_info_field {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > label {
        display: inline-block;
        width: 8.8rem;
    }

    > input {
        width: 12rem;
        text-align: center;
    }
}

.game_info_empty {
    width: 20.8rem;
    height: 0;
}

/*--------------------Platform Container-------------------------*/

.platforms-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    gap: .5rem;
}

.plat_category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 1rem;
    font-weight: bold;
    gap: 1rem;
    background-color: var(--ryu-dark);
    border-radius: 2rem;
    flex-basis: 49%;
    padding: 0 0 .7rem 0;
}

.plat_category > h3 {
    width: 100%;
    text-align: center;
    margin: .5rem 0 0 0;
    padding: 0;
}

.plat_list_entry {
    width: 8.7rem;
    height: 5.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    border-radius: 1rem;
    font-size: .8rem;
    transition: 0.2s;
}

.plat_list_entry:hover > .plat_list_check,
.plat_list_entry:focus-visible > .plat_list_check {
    border: var(--ryu-bg) .2rem solid;
    transition: 0.2s;
}

.plat_list_check {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
    z-index: 999;
    border: transparent 0 solid;
    border-radius: 1rem;
    transition: 0.2s;
}

.plat_list_entry > .plat_list_check:checked{
    border: var(--ryu-red) .2rem solid;
    border-radius: 1rem;
    transition: 0.2s;
}

.plat_list_entry > label {
    position: absolute;
    bottom: 6%;
    cursor: pointer;
    text-wrap: normal;
    text-align: center;
    z-index: 50;
}

.plat_list_logo {
    position: absolute;
    width: 10rem;
    max-width: 90%;
    height: 3rem;
    z-index: 50;
    top: 10%;
    background-color: #6f6f6f;
    transition: 0.2s;
}

.plat_list_check:checked ~ .plat_list_logo {
    background-color: var(--ryu-red);
    transition: 0.2s;
}

/*--------------------Platform Settings-------------------------*/

.platform_specs_form {
    display: flex;
    flex-direction: column;
}

.platform_spec_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.platform_info {
    width: fit-content;
    background-color: var(--ryu-dark);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border: none;

    > legend {
        padding: 1rem 1rem 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* logo inside platform info containers */
    > legend > img {
        width: auto;
        height: 1rem;
        margin-right: .5rem;
    }
}

.platform_info_field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 5%;

    > label {
        width: 30%;
    }

    > input {
        width: 65%;
    }
}

.platform_info > input[type="date"] {
    width: fit-content;
}

.platform_info > input[type="url"] {
    max-width: 70%;
    min-width: max-content;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]
{
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

.store_link_cont {
    display: flex;
    justify-content: space-between;
}

.plat_release_cont {
    display: flex;
    justify-content: space-between;
}

.multiplayer_info {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 6fr;
    gap: .5rem;
    align-items: center;
    border: none;

    > legend {
        padding: 2rem 1rem 1rem 0;
    }
}

.mp_feature_check_cont {
    grid-column-start: 1;
    padding: .3rem 0;
}

.mp_feature_count_cont {
    grid-column-start: 2;
    visibility: hidden;

    > input[type="number"] {
        width: 3rem;
        font-family: sans-serif;
        text-align: center;
    }
}


.mp_feature_check {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: -2rem;
}

.mp_feature_label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .1rem 0 .1rem 0;
    cursor: pointer;
    width: fit-content;
    position: relative;
    margin-left: 2rem;
}

.win_dark_check {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: transparent;
    position: absolute;
    border-radius: 0.5rem;
    border: #393939 4px solid;
    transition: .2s;
    left: -2.4rem;
}

.mp_feature_label:hover .win_dark_check {
    background-color: #393939;
    transition: .2s;
}

.mp_feature_check:checked ~ .win_dark_check {

}

.win_dark_check:after {
    content: "";
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
}

.mp_feature_check:checked ~ .win_dark_check:after {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s;
}

.win_dark_check:after {
    left: 31%;
    top: -47%;
    width: 0.6rem;
    height: 1.3rem;
    border: solid var(--ryu-green);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*--------------------Game List-------------------------*/

.page_h1 {
    font-size: 1.5rem;
    color: whitesmoke;
    background-color: var(--ryu-dark);
    border-bottom: var(--ryu-purple) .3rem solid;
    margin: .7rem 1rem 1.2rem 1rem;
    border-radius: 2rem;
    font-weight: bold;
    padding: .3rem 1rem;
}

.game-list {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-list .game {
    display: flex;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--ryu-dark);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.game:hover > .game_details,
.game:focus-within > .game_details {
    display: block;
}

.game_prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    width: min-content;
    text-decoration: none;
    color: whitesmoke;
}

.game_prev > h2 {
    margin: 0;
    font-size: 1rem;
    margin-top: 1rem;
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
    text-align: center;
}

.game_image {
    position: relative;
}

.game_image > img {
    width: 12rem;
    height: auto;
    border-radius: 1rem;
}

.game_image > .platform_info_logo {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 2.5rem;
    background-color: var(--ryu-dark);
    border-radius: 0 1rem 0 0;
    padding: .5rem .5rem;
    width: auto;
    max-width: 6rem;
    height: auto;
}

.game_details {
    display: block;
    width: 26rem;
    margin-left: 4rem;
}

.game_mp_features {
    padding: 0 1rem;
}

.game_mp_features > li {
    padding: .3rem;
}

.game_delete {
    position: absolute;
    right: .7rem;
    bottom: 0;
    gap: 1rem;
    display: flex;
    height: 1.8rem;
}

/*--------------------Search game-------------------------*/

.mp_info_search {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 6fr;
    gap: .5rem;
    align-items: center;
    border: none;
    background: var(--ryu-dark);
    padding: 2rem;
    border-radius: 2rem;
    width: fit-content;
}